@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  The idea for this layout including the grid background is heavily inspired by the creator of https://dub.sh – all credits go to them! 
*/

* {
  font-family: 'Roboto', sans-serif;
}

.gradient {
  height: fit-content;
  z-index: 30;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(at 27% 37%, hsla(215, 98%, 61%, 1) 0px, transparent 0%),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

/* Tailwind Styles */

main {
  @apply font-roboto text-black dark:text-white;
}

.app_background {
  @apply w-screen min-h-screen fixed flex justify-center pt-28 px-6 pb-40 max-md:p-0 pointer-events-none before:bg-radial-gradient-circle-light dark:before:bg-radial-gradient-circle-dark before:absolute before:z-20 before:w-full before:h-full before:top-0
  after:z-10 after:absolute after:w-full after:h-full after:top-0 after:opacity-40 after:invert after:bg-grid;
}

.app {
  @apply relative z-10 mx-auto sm:px-16 px-6 py-20;
}

h1 {
  @apply mt-5 text-5xl font-extrabold leading-[1.15];
}

h2 {
  @apply mt-5 text-lg text-gray-600 dark:text-gray-300 sm:text-xl text-center max-w-2xl;
}

h4 {
  @apply font-bold text-gray-600 dark:text-gray-200 text-xl;
}

.btn {
  @apply tracking-wide hover:border-gray-700 hover:bg-slate-200 inset-y-0 right-0 py-0.5 px-2 flex items-center justify-center rounded border border-slate-400 bg-white font-sans text-sm font-medium uppercase transition-colors disabled:text-gray-500 disabled:bg-gray-200 disabled:hover:border-slate-400 dark:bg-slate-700 dark:hover:border-gray-300 dark:disabled:hover:border-slate-400 dark:text-white dark:disabled:text-gray-400;
}

.card {
  @apply rounded-xl border border-gray-200 bg-white/20 dark:bg-slate-800 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] dark:shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.05)] backdrop-blur p-4;
}

.error_text {
  @apply font-bold text-center text-xl text-red-500;
}

.link {
  @apply transition-colors text-gray-600 hover:text-black dark:text-gray-300 dark:hover:text-gray-100;
}

.theme_switch_btn {
  @apply transition-transform will-change-transform hover:scale-105 active:scale-95 text-gray-600 dark:text-gray-300 dark:hover:text-gray-100;
}

.header {
  @apply w-screen fixed top-0 right-0 bg-[#fafafa] dark:bg-[#101030] z-50 py-3 px-24 max-sm:px-4 flex justify-between items-center border-b border-slate-200 dark:border-slate-600;
}

.input {
  @apply w-full block rounded-md border border-gray-200 dark:border-gray-400 bg-white py-2.5 pr-4 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0 dark:bg-slate-800;
}

.select {
  @apply bg-white border border-gray-200 text-sm shadow-lg rounded-md font-medium focus:ring-blue-500 focus:border-black block w-full p-2.5 mt-1 appearance-none dark:bg-slate-800 dark:text-white dark:border-gray-400;
}

.textarea {
  @apply block w-full resize-none rounded-md border border-gray-200 dark:border-gray-400 bg-white py-2.5 pl-2 pr-12 shadow-lg transition-colors focus:border-black focus:outline-none focus:ring-0 dark:bg-slate-800;
}

.clipboard_card {
  @apply p-3 flex justify-start items-center flex-row bg-white border border-gray-200 dark:border-gray-400 gap-3 rounded-lg cursor-pointer;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}
